.container-fluid {
    padding-left: 4rem 2rem !important;
    padding-right: 4rem 2rem !important;
}

.content {
    padding-top: 1.75rem !important;
    padding-bottom: 1.75rem !important;
}

.card {
    position: relative !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border: .0625rem solid rgba(231, 234, 243, .7)!important;
    border-radius: .75rem!important
}

.card-header {
    padding: 1.3125rem 1.3125rem !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border-bottom: .0625rem solid rgba(231, 234, 243, .7) !important
}

.card-header-title {
    margin-bottom: 0
}

.card-header-title+.card-text {
    margin-top: .25rem !important
}

.card-body {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 1.3125rem 1.3125rem !important
}


.form-control {
    display: block !important;
    width: 100% !important;
    padding: .6125rem 1rem !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #1e2022 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: .0625rem solid rgba(231, 234, 243, .7) !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: .3125rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out!important
}

.form-control:focus {
    color: #1e2022 !important;
    background-color: #fff !important;
    outline: 0 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #377dff !important;
    border-color: #377dff !important
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #2f6ad9 !important;
    border-color: #2c64cc !important
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #2f6ad9;
    border-color: #2c64cc;
    box-shadow: 0 0 0 0 rgba(85, 145, 255, .5)
}

.display-5 {
    font-size: calc(1.275rem + .3vw);
    font-weight: 600;
    line-height: 1.2
}

.link {
    text-decoration: none;
}

.bg-dark-cus {
    background-color: #132144;
}

.btn-ghost-light {
    color: #f9fafc;
    background-color: transparent;
}

.btn-ghost-danger {
    color: #ed4c78;
    background-color: transparent;
}

.btn-white {
    background-color: #fff;
    border-color: rgba(231, 234, 243, .7);
}

.btn-white:hover {
    color: #1366ff;
    box-shadow: 0 3px 6px -2px rgb(140 152 164 / 25%);
}

.alert {
    transition: all 1s ease 5s;
}


.thead-light {
    border-radius: 8px;
    margin-bottom: 8px;
}

.thead-light th {
    background-color: #f8fafd
}

.table-thead-bordered {
    border-top: .0625rem solid rgba(231, 234, 243, .7)
}

.table-nowrap td,
.table-nowrap th {
    white-space: nowrap
}

.main-table thead {
    background-color: #e9ecef
}

.main-table thead th {
    border: 0;
    padding: 10px;
}

.main-table thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.main-table thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main-table tbody tr {
    background-color: #fff;
    padding: 5px 0;
}

.main-table tbody td {
    vertical-align: middle;
}

.main-table tbody td:not(:last-child) .table_cell {
    border-right: 1px solid #757575;
}
.clickable:hover{
    cursor: pointer;
}
.main-table tbody td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 6px;
}

.main-table tbody td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 6px;
}

.table_cell-content {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("./assets//profile.jpg");
    background-size: cover;
}
    @keyframes alerttt {
    from {
        display: block;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes alerttt {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}